{{ GameMode[gameMode] }}
<ng-container [ngSwitch]="gameMode">
    <app-create-game *ngSwitchCase="GameMode.Creating" [game]="game"></app-create-game>
    <app-game-guessing *ngSwitchCase="GameMode.Guessing" [game]="game" (gameSaved)="loadGame($event)"></app-game-guessing>
    <app-game-responding *ngSwitchCase="GameMode.Responding" [game]="game" (gameSaved)="loadGame($event)"></app-game-responding>
    <ng-container *ngSwitchCase="GameMode.Waiting"></ng-container>
    <ng-container *ngSwitchCase="GameMode.Completed"></ng-container>
</ng-container>