<h1>Games</h1>
<ng-container *ngIf="invitations?.length">
    <h2>Invitations</h2>
    <div *ngFor="let game of invitations" class="invitation">
        <h3 class="invitation__username">{{ game.friendUsername }}</h3>
        <img *ngIf="game.friendAvatarUrl" [src]="game.friendAvatarUrl" class="invitation__avatar" alt="" />
        <div class="invitation__container">
            <button type="button" class="invitation__button" (click)="acceptInvitation(game)">Accept</button>
            <button type="button" class="invitation__button" (click)="declineInvitation(game)">Decline</button>
        </div>
        <span class="invitation__created">Created <em>{{ game.createdDate | duration }}</em></span>
    </div>
</ng-container>
<a *ngFor="let game of games" class="game" [routerLink]="['/games', game.id]" [title]="game.subject ? game.subject : 'Guessing'">
    <h3 class="game__username">{{ game.friendUsername }}</h3>
    <img *ngIf="game.friendAvatarUrl" [src]="game.friendAvatarUrl" class="game__avatar" alt="" />
    <div class="game__container">
        <span *ngIf="game.subject" class="game__answer">{{ game.subject }}</span>
        <span *ngIf="!game.subject" class="game__answer game__answer--guessing">Guessing</span>
        <span class="game__questions" [title]="'Question ' + (game.questions ? game.questions.length + 1 : 1) + ' of ' + game.maxQuestions">{{ game.questions ? game.questions.length + 1 : 1 }}</span>
    </div>
    <span class="game__last-active"><strong>{{ getStatus(game) }}</strong> • Last updated <em>{{ game.modifiedDate | duration }}</em></span>
</a>
<button type="button" routerLink="/games/new">New Game</button>