<ng-container *ngIf="question && form">
    <div>{{ question.question }}</div>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-row">
            <label for="response">Response</label>
            <ul>
                <li>
                    <input type="radio" id="response-yes" name="response" [value]="QuestionResponse.Yes"
                        formControlName="response" />
                    <label for="response-yes">Yes</label>
                </li>
                <li>
                    <input type="radio" id="response-no" name="response" [value]="QuestionResponse.No"
                        formControlName="response" />
                    <label for="response-no">No</label>
                </li>
                <li>
                    <input type="radio" id="response-sometimes" name="response" [value]="QuestionResponse.Sometimes"
                        formControlName="response" />
                    <label for="response-sometimes">Sometimes</label>
                </li>
                <li>
                    <input type="radio" id="response-probably" name="response" [value]="QuestionResponse.Probably"
                        formControlName="response" />
                    <label for="response-probably">Probably</label>
                </li>
                <li>
                    <input type="radio" id="response-probably-not" name="response"
                        [value]="QuestionResponse.ProbablyNot" formControlName="response" />
                    <label for="response-probably-not">Probably Not</label>
                </li>
                <li>
                    <input type="radio" id="response-correct" name="response" [value]="QuestionResponse.Correct"
                        formControlName="response" />
                    <label for="response-correct">Correct</label>
                </li>
            </ul>
            <div *ngIf="form.controls.response.valid">
                <label for="response-explanation" (click)="showExplanation()">Need to explain?</label>
                <textarea *ngIf="explanationVisible" id="response-explanation"
                    formControlName="responseExplanation"></textarea>
            </div>
        </div>
        <div class="form-footer">
            <button type="submit" [attr.disabled]="!form.valid ? 'disabled' : null">Ask Question</button>
        </div>
    </form>
</ng-container>