h1, .h1 {
    margin: 0 0 20px 0;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    color: $color-white;

    @include responsive-tablet {
        margin-bottom: $margin;
        font-size: 36px;
    }
}

h2, .h2 {
    margin: 0 0 20px 0;
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    color: $color-white;

    @include responsive-tablet {
        margin-bottom: $margin;
        font-size: 26px;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}