$color-black: #333;
$color-white: #fff;
$color-primary: #202d71;
$color-primary-light: #384cb1;
$color-primary-dark: #121d56;
$color-error: #990000;
$color-success: #b5ab1d;

$color-background: $color-primary-dark;
$color-border: $color-primary;
$color-text: $color-white;
$color-text-secondary: #5a68b4;

$border-radius: 10px;

$font-primary: 'Open Sans', Arial, sans-serif;

$margin: 30px;
$padding: 30px;