@import '_includes';
@import '_reset';
@import '_fonts';
@import '_typography';
@import '_icons';
@import '_components';

body {
    background: $color-background;
    color: $color-text;
    font-family: $font-primary;
    font-size: 16px;
    line-height: 1;
}

main {
    margin: 0 auto;
    max-width: 600px;
    padding: 10px;
}

img {
    display: block;
    max-width: 100%;
}

@include responsive-tablet {
    body {
        padding-left: 120px;
    }

    main {
        padding: $padding;
    }
}