<header>
    <span *ngIf="signedIn" class="menu-toggle" aria-label="Menu" role="button" (click)="toggleMenu()"></span>
    <div *ngIf="signedIn" class="menu" [class.menu--expanded]="menuExpanded">
        <nav class="primary-navigation">
            <ul>
                <li [class.menu--selected]="url == '/' || url == '/games'">
                    <a (click)="navigate('/games')" class="icon-games" title="Games">
                        <span>Games</span>
                    </a>
                </li>
                <!-- <li [class.menu--selected]="url == '/history'">
                    <a (click)="navigate('/history')" class="icon-history" title="History">
                        <span>History</span>
                    </a>
                </li> -->
                <li [class.menu--selected]="url == '/friends'">
                    <a (click)="navigate('/friends')" class="icon-friends" title="Friends">
                        <span>Friends</span>
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="user-navigation">
            <ul>
                <li [class.menu--selected]="url == '/settings'">
                    <a (click)="navigate('/settings')" class="icon-settings" title="Settings">
                        <span>Settings</span>
                    </a>
                </li>
                <li>
                    <a class="icon-sign-out" title="Sign Out" (click)="signOut()">
                        <span>Sign Out</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div *ngIf="menuExpanded" class="menu-overlay" (click)="toggleMenu()"></div>
    <img src="/assets/images/logo.png" class="logo" alt="Twenty Questions" />
</header>
<main>
    <router-outlet></router-outlet>
</main>