.icon-friends:before {
    content: '\f500';
}

.icon-games:before {
    content: '\f128';
}

.icon-results:before {
    content: '\f091';
}

.icon-settings:before {
    content: '\f4fe';
}

.icon-sign-out:before {
    content: '\f2f5';
}