.game {
    $root: &;

    position: relative;
    margin: 0 0 $margin 0;
    max-width: 300px;
    padding-left: 70px;
    cursor: pointer;

    &__avatar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 90px;
        height: 90px;
        border: solid 2px $color-white;
        border-radius: 50%;
    }

    &__username {
        display: block;
        margin: 0 0 5px $padding;
        font-size: 14px;
        font-weight: 600;
        color: $color-text-secondary;
    }

    &__container  {
        margin: 0 0 5px 0;
        border: solid 2px $color-white;
        border-radius: 0 $border-radius $border-radius 0;
        padding: 17px 55px 17px 30px;
        background: $color-primary;
    }

    &__answer {
        font-size: 18px;
        font-weight: 600;

        &--guessing {
            font-style: italic;
        }
    }

    &__questions {
        position: absolute;
        top: 32px;
        right: 10px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: $color-white;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        color: $color-primary;
    }

    &__last-active {
        display: block;
        padding: 0 10px 0 0;
        font-size: 10px;
        text-align: right;
        color: $color-text-secondary;
    }

    &:hover {
        #{ $root }__container {
            background: $color-primary-light;
        }    
    }
}

.game-details {
    &__heading {
        margin: 0 0 $margin 0;
        text-align: center;

        &__avatar {
            display: block;
            margin: 0 auto $margin auto;
            width: 130px;
            border: solid 2px $color-white;
            border-radius: 50%;
        }

        &__last-modified {
            font-style: italic;
            color: $color-text-secondary;
        }
    }
}

ol.questions {
    counter-reset: guess-counter;

    > li {
        counter-increment: guess-counter;
    }
}

.question {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 $margin 0;
    border-radius: $border-radius;
    padding: 20px;
    background: $color-primary;

    &:before {
        content: counter(guess-counter);
        flex-grow: 0;
        margin: 0 20px 0 0;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: $color-white;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        color: $color-primary;
    }

    &__question {
        flex-basis: 0;
        flex-grow: 1;
        width: auto;
    }

    &__answer {
        margin: 20px 0 0 0;
        border-radius: $border-radius;
        padding: $padding;
        width: 100%;
        background: $color-primary-dark;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        line-height: 18px;

        &:before {
            margin: 0 10px 0 0;
            font-family: 'Font Awesome';
            font-size: 26px;
            vertical-align: middle;
        }

        &--yes {
            &:before {
                content: '\f00c';
            }
        }

        &--no {
            &:before {
                content: '\f00d';
            }
        }

        &--sometimes {
            &:before {
                content: '\f128';
            }
        }

        &--probably {
            &:before {
                content: '\f102';
            }
        }

        &--probablyNot {
            &:before {
                content: '\f103';
            }
        }

        &--win {
            background: $color-white;
            color: $color-primary;

            &:before {
                content: '\f091';
            }
        }

        &--lose {
            background: $color-white;
            color: $color-primary;

            &:before {
                content: '\f253';
            }
        }
    }

    &__response-explanation-toggle {
        display: block;
        margin-top: 20px;
        width: 100%;
        color: $color-text-secondary;
        text-align: center;
    }

    &__response-explanation {
        margin-top: 20px;
        line-height: 1.25;
    }
}