ol.questions {
    counter-reset: guess-counter;

    > li {
        counter-increment: guess-counter;
    }
}

.question {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 $margin 0;
    border-radius: $border-radius;
    padding: 20px;
    background: $color-primary;

    &:before {
        content: counter(guess-counter);
        flex-grow: 0;
        margin: 0 20px 0 0;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: $color-white;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        color: $color-primary;
    }

    &__question {
        flex-basis: 0;
        flex-grow: 1;
        width: auto;
    }

    &__answer {
        margin: 20px 0 0 0;
        border-radius: $border-radius;
        padding: $padding;
        width: 100%;
        background: $color-primary-dark;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        line-height: 18px;

        &:before {
            margin: 0 10px 0 0;
            font-family: 'Font Awesome';
            font-size: 26px;
            vertical-align: middle;
        }

        &--yes {
            &:before {
                content: '\f00c';
            }
        }

        &--no {
            &:before {
                content: '\f00d';
            }
        }

        &--sometimes {
            &:before {
                content: '\f128';
            }
        }

        &--probably {
            &:before {
                content: '\f102';
            }
        }

        &--probablyNot {
            &:before {
                content: '\f103';
            }
        }

        &--win {
            background: $color-white;
            color: $color-primary;

            &:before {
                content: '\f091';
            }
        }

        &--lose {
            background: $color-white;
            color: $color-primary;

            &:before {
                content: '\f253';
            }
        }
    }
}